src/main/mule/test_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3dccaa35-b832-4c1e-9565-0bbaf19f96f8" basePath="testTime" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="128abc0d-f0a9-477a-ac3e-288a1cc5d879" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="test_projectFlow" doc:id="98790977-5596-4647-832a-1defb06d471a" >
		<http:listener doc:name="Listener" doc:id="c5a22a5b-189d-43dd-abab-a8dd652e676a" config-ref="HTTP_Listener_config" path="/{region}/{city}" />
		<http:request method="GET" doc:name="Request" doc:id="e3a5fab8-8524-4ef3-9fcc-6537d31f96fd" config-ref="HTTP_Request_configuration" path="/{region}/{city}" >
			<http:uri-params ><![CDATA[#[output application/json
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
